<app-header [title]="'Sign up'" [back]="false" [rightButton]="false" [color]="'primary'" [rightButtonIcon]="''"
  [showMenuBurger]="false">
</app-header>
<ion-segment (ionChange)="segmentChanged($event)" value="signUp">
  <ion-segment-button value="signIn">
    <ion-label>Sign in</ion-label>
  </ion-segment-button>
  <ion-segment-button value="signUp">
    <ion-label>Sign up</ion-label>
  </ion-segment-button>
</ion-segment>


<ion-content>
  <form [formGroup]="signUpForm" *ngIf="signUp">
    <ion-grid>
      <ion-row>
        <ion-col style="width: 100%">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="Mario rossi" formControlName="email">
            </ion-input>
            <small style="color: red;"
              *ngIf="signUpForm.get('email').touched && signUpForm.get('email').errors?.required ">
              <p>this field is required</p>
            </small>
            <small style="color: red;"
              *ngIf="signUpForm.get('email').touched && signUpForm.get('email').errors?.email ">
              <p>enter a valid email</p>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" (click)="signUp()" type="button" [disabled]="!signUpForm.valid">
            Sign up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
