<ion-content *ngIf="dynamicForm && formFields">
  <form [formGroup]="dynamicForm">
    <ion-grid>
      <!-- <ion-list > -->
      <ion-row *ngFor="let field of formFields">
        <ion-col *ngIf="field.type === 'string'">
          <ion-item>
            <ion-label position="floating">{{field.fieldName}}</ion-label>
            <ion-input [type]="field.type" [name]="field.fieldName" [placeholder]="field.placeHolder"
              [formControlName]="field.fieldName">
            </ion-input>
            <small style="color: red;"
              *ngIf="dynamicForm.get(field.fieldName).touched && dynamicForm.get(field.fieldName).errors?.required   ">
              <p>this field is required</p>
            </small>
            <small style="color: red;"
              *ngIf="dynamicForm.get(field.fieldName).errors?.minLength  && dynamicForm.get(field.fieldName).touched ">
              <p>should be at least {{field.validators.minLength}} characters</p>
            </small>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="field.type === 'select'">
          <ion-item>
            <ion-label position="floating">{{field.fieldName}}</ion-label>
            <ion-select [formControlName]="field.fieldName">
              <ion-select-option *ngFor="let item of field.items">{{item}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="field.type === 'time'">
          <ion-item button="true" [id]="field.fieldName">
            <ion-label>
              <ion-icon name="time" color="light"></ion-icon>{{field.fieldName}}
            </ion-label>
            <ion-text slot="end" *ngIf="startTime">{{ startTime }}</ion-text>
            <ion-text slot="end" *ngIf="endTime">{{ endTime }}</ion-text>
            <ion-popover [trigger]="field.fieldName" show-backdrop="false">
              <ng-template *ngIf="field.fieldName === 'oraInizio'">
                <ion-datetime mode="ios" #startTime presentation="time" cancelText="cancel" locale="en-GB-u-hc-h23"
                  (ionChange)="formatDate(startTime.value)" [formControlName]="field.fieldName">
                </ion-datetime>
              </ng-template>
              <ng-template *ngIf="field.fieldName === 'oraFine'">
                <ion-datetime mode="ios" #endTime presentation="time" cancelText="cancel" locale="en-GB-u-hc-h23"
                  (ionChange)="formatDate(endTime.value)" [formControlName]="field.fieldName">
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="field.type === 'password'">
          <ion-item>
            <ion-label position="floating">{{field.fieldName}}</ion-label>
            <ion-input [type]="field.type" [name]="field.fieldName" [placeholder]="field.placeHolder"
              [formControlName]="field.fieldName">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="field.type === 'email'">
          <ion-item>
            <ion-label position="floating">{{field.fieldName}}</ion-label>
            <ion-input [type]="field.type" [name]="field.fieldName" [placeholder]="field.placeHolder"
              [formControlName]="field.fieldName">
            </ion-input>
            <small style="color: red;"
              *ngIf="dynamicForm.get(field.fieldName).touched && dynamicForm.get(field.fieldName).errors?.required   ">
              <p>this field is required</p>
            </small>
            <small style="color: red;"
              *ngIf="dynamicForm.get(field.fieldName).touched && dynamicForm.get(field.fieldName).errors?.email   ">
              <p>this enter a valid email</p>
            </small>
          </ion-item>
        </ion-col>

      </ion-row>
      <!-- </ion-list> -->
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="submit()" type="button" [disabled]="!dynamicForm.valid">
            {{header === 'Modifica Cliente'?'modifica' :'salva'}}
          </ion-button>
          <ion-button color="danger" (click)="close()" type="button">
            cancella
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
