<app-header [title]="'Clienti'" [defaultHref]="'home'" [back]="false" [color]="'primary'" [rightButton]="true"
  [rightButtonIcon]="'add'" (rightButtonFunction)="openAddClientModal()"></app-header>

<ion-content>
  <ion-grid *ngIf="clients">
    <ion-row *ngFor="let client of clients">
      <ion-col>
        <ion-list>
          <ion-item color="warning">
            <ion-icon name="person" size="large" color="dark"></ion-icon>
            {{client.fullName}}
            <ion-icon slot="end" name="pencil" size="medium" (click)="editClient(client)"></ion-icon>
            <ion-icon slot="end" name="trash" size="medium" (click)="deleteClient(client)"></ion-icon>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
