<app-header [title]="'Clienti'" [defaultHref]="'home'" [back]="false" [color]="'primary'" [rightButton]="true"
  [rightButtonIcon]="'add'" (rightButtonFunction)="prepareAddClient()" [showMenuBurger]="true"></app-header>

<ion-content>
  <ion-grid *ngIf="clients">
    <ion-row *ngFor="let client of clients | orderBy:'fullName'">
      <ion-col>
        <ion-item [color]="client.color">
          <ion-icon name="person-outline" size="large" color="dark"></ion-icon>
          {{client.fullName }}
          <ion-icon slot="end" name="create-outline" size="medium" color="primary" (click)="editClient(client)">
          </ion-icon>
          <ion-icon slot="end" name="trash-outline" size="medium" color="dark" (click)="deleteClient(client)">
          </ion-icon>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
