<app-header [title]="'Calendario'" [defaultHref]="'home'" [back]="false" [color]="'primary'" [rightButton]="false"
  [rightButtonIcon]=""></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-calendar-week [weekStart]="1"></ion-calendar-week> -->
    </ion-card-header>
    <ion-card-content>

      <ion-calendar (change)="onChange($event)" [format]="'YYYY-MM-DD'" style="background-color: lightgrey;">
      </ion-calendar>
    </ion-card-content>
  </ion-card>

</ion-content>
