<app-header [title]="'Calendario'" [defaultHref]="'home'" [back]="false" [color]="'primary'" [rightButton]="false"
  [rightButtonIcon]=""></app-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header>
    </ion-card-header>
    <ion-card-content>

      <ion-calendar (change)="onChange($event)" [format]="'YYYY-MM-DD'" style="background-color: lightgrey;">
      </ion-calendar>
    </ion-card-content> -->
    <ion-datetime first-day-of-week="1" presentation="date" #popoverDatetime (click)="dateValue(popoverDatetime.value)">
    </ion-datetime>
  </ion-card>

</ion-content>
