<app-header [title]="clickedDate" [defaultHref]="'home/calendar'" [back]="true" *ngIf="clickedDate" [color]="'primary'"
  [rightButton]="true" [rightButtonIcon]="'add'" (rightButtonFunction)="openAddBusinessModal()">
</app-header>
<ion-content color="secondary">

  <ion-grid *ngIf="businessList">
    <ion-row *ngFor="let business of businessList.resultList">
      <ion-col>
        <ion-list>
          <ion-item color="warning">
            Job: {{business.jobDescription}}
            client: {{business.clientFullName}}
            <ion-icon slot="end" name="pencil" size="medium"></ion-icon>
            <ion-icon slot="end" name="trash" size="medium"></ion-icon>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content *ngIf="businessList && !businessList.total">
    non ci sono business in questo giorno
  </ion-content>



</ion-content>
