ion-icon {
  font-size: 20px;
  margin-right: 2px;
  color: white;
}

ion-item {
  margin: 10px 0px 10px 0px;
}

ion-label {
  font-size: xx-large;
  font-weight: bolder;
}

small {
  color: black;
}

.header {
  background-color: lightblue;
}
// ion-grid {
//   --ion-grid-column-padding: 10px;
//   border-collapse: collapse;
//   border-style: hidden;

//   ion-row:first-child {
//     background-color: #2dd36f;
//     font-weight: bold;
//   }
//   ion-col {
//     border: 1px solid black;
//     border-bottom: 0;
//     border-right: 0;
//   }
//   ion-col:last-child {
//     border-right: 1px solid black;
//   }

//   ion-row:last-child {
//     border-bottom: 1px solid black;
//   }
// }
