<app-header title="dettagli business" [defaultHref]="backPath" [back]="true" [color]="'primary'">
</app-header>
<ion-content *ngIf="business" style="background-color: whitesmoke;">

  <ion-card>
    <ion-card-header style="display: flex; align-items: flex-start;" color="blue">
      <ion-title>Ora inizio: {{business.startTime |
        date:'shortTime'}}
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="build-outline" size="medium" color="dark"></ion-icon> Job: {{business.jobDescription}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="person-outline" size="small" color="dark"></ion-icon> Client : {{business.clientFullName}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="clipboard-outline" size="small" color="dark"></ion-icon> notes:
        {{business.note}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="location-outline" size="small" color="dark"></ion-icon>position: {{business.position}}
      </ion-card-subtitle>
    </ion-card-content>

    <ion-card-header style="display: flex; align-items: flex-end;" color="blue">
      <ion-title>Ora fine: {{business.endTime | date:'shortTime'}}
      </ion-title>
    </ion-card-header>

  </ion-card>

</ion-content>
