ion-select-option {
  font-size: larger;
  font-weight: bold;
  color: red;
}

ion-item {
  border-bottom: 1px thin black;
  border-top: 1px thin black;
  margin: 10px 0px 10px 0px;
  font-size: large;
}

ion-button {
  margin-top: 20px;
}
