<app-header [title]="'Riepilogo'" [defaultHref]="'home'" [back]="false" [color]="'primary'" [rightButton]="false"
  [rightButtonIcon]="''"></app-header>

<ion-content color="secondary">
  <form [formGroup]="summaryForm">




    <ion-item color="medium">
      <ion-label>
        <ion-icon name="person-outline" color="light"></ion-icon> Client
      </ion-label>
      <ion-select value="brown" formControlName="client" mode="ios">
        <ion-select-option *ngFor="let client of clients">{{client.fullName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="medium">
      <ion-label>
        <ion-icon name="build-outline" color="light"></ion-icon> Commessa
      </ion-label>
      <ion-select value="brown" formControlName="job" mode="ios">
        <ion-select-option *ngFor="let job of jobs">{{job.description}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="months" color="medium">
      <ion-label>
        <ion-icon name="calendar-outline" color="light"></ion-icon> Mese
      </ion-label>
      <ion-select value="brown" formControlName="month" mode="ios">
        <ion-select-option *ngFor="let month of months" style="font-size: larger; font-weight: bold;">
          {{month}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" (click)="submit()" expand="block" [disabled]="!summaryForm.valid">cerca</ion-button>

  </form>

  <div *ngIf="base64">
    <ion-button (click)="downloadPdf()" color="primary">scarica</ion-button>
  </div>



</ion-content>
